{{#files}}
.icon-{{{cssName}}} {
    src: tile("{{{spritesheetName}}}.png",{{spritesheetWidth}},{{spritesheetHeight}});
    tile-pos: {{x}} {{y}};
    width: {{width}};
    height: {{height}};
}

{{/files}}