
get_tile(name) {
    {{#files}}
        if name == replace('icon_','','{{{cssName}}}') {
            src: tile("{{{prefix}}}{{{spritesheetName}}}.png",{{x}},{{y}},{{width}},{{height}})
        }
    {{/files}}
}